[Unit]
Description=Count particles hitting our geiger counter via a gpio line.
After=network.target systemd-timesyncd.service systemd-udevd.service systemd-udev-settle.service
Requires=systemd-udevd.service systemd-udev-settle.service

[Service]
User=ghz
WorkingDirectory=/home/ghz/repos/particle_weather
ExecStartPre=/home/ghz/repos/particle_weather/clean_locks
ExecStart=/home/ghz/repos/particle_weather/geiger_count_gpio

[Install]
WantedBy=multi-user.target
